[submodule "include/rinari"]
	path = include/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "include/textmate"]
	path = include/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "include/rhtml"]
	path = include/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "include/rvm"]
	path = include/rvm
	url = git://github.com/senny/rvm.el.git
[submodule "include/yasnippet"]
	path = include/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git

[submodule "include/wrap-region"]
	path = include/wrap-region
	url = git://github.com/rejeep/wrap-region.git
[submodule "include/yaml-mode"]
	path = include/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "include/markdown-mode"]
	path = include/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "include/zencoding"]
	path = include/zencoding
	url = git://github.com/rooney/zencoding.git
