[submodule "include/rinari"]
	path = include/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "include/textmate"]
	path = include/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "include/rhtml"]
	path = include/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "include/rvm"]
	path = include/rvm
	url = git://github.com/senny/rvm.el.git
